.login-container{
    .login-header{
        margin: 10px 15px;
        height: 35px;
        gap: 10px;
        display: flex;
        justify-content: right;
        align-items: center;
        .btn-sign-in{
            border: 1px solid black;
            border-radius: 10px;
            border-color: black;
            margin-right: 15px;
        }
    }
    .login-title{
        font-size: 30px;
        text-align: center;
    }
    .login-welcome{
        text-align: center;
    }
    .login-content-form{
        gap: 10px;
        display: flex;
        flex-direction: column;
        .forgot-password{
            text-align: right;
            text-decoration: underline
        }
        .btn-submit{
            width: 100%;
            border: 1px solid;
            background: #343131;
            color: white;
            padding: 0 15px;
            border-radius: 10px;
            height: 40px;
            &:hover{
                background: black !important;
            }
        }
        
    }
}